<a href="Luhman_16_J_band.html">
    <span class="image fit responsive-padding" style="height: auto; display: flex; align-items: flex-end; justify-content: center; padding-bottom: 102px; padding-top: 102px;">
        <img src="images/Luhman_16_J_band_spectrum.png" alt="Luhman 16 J-band spectrum" style="max-width: 100%; height: auto;" />
    </span>
    <h3>Atmospheric Characterisation of Late L-dwarf with CRIRES<sup>+</sup></h3>
    <ul class="actions special">
        <li><a href="Luhman_16_J_band.html" class="button">More</a></li>
    </ul>
</a>