<a href="CRIRES_retrieval.html">
    <span class="image fit responsive-padding" style="height: auto; display: flex; align-items: flex-end; justify-content: center; padding-bottom: 95px; padding-top: 95px;"> <!-- Reduced padding-top to better align with NACO_gallery.jpg -->
        <img src="images/DENIS_J0255_spectrum.png" alt="DENIS J0255 spectrum" style="max-width: 100%; height: auto;" />
    </span>
    <h3>Atmospheric Characterisation of Late L-dwarf with CRIRES<sup>+</sup></h3>
    <ul class="actions special">
        <li><a href="CRIRES_retrieval.html" class="button">More</a></li>
    </ul>
</a>